<!-- footer -->
<footer>
    <div class="contacto-enlaces">
        <a href="mailto:brandon.ch1245@gmail.com" class="contacto-link">
            <img src="/assets/image/gmail2.png" alt="">
            Correo Electrónico
        </a>
        <a href="https://linkedin.com/in/brandon-chiroy-t-931668285" target="_blank" class="contacto-link">
            <img src="/assets/image/Linke.png" alt="">
            LinkedIn
        </a>
        <a href="https://github.com/ChiroyB" target="_blank" class="contacto-link">
            <img src="/assets/image/git.webp" alt="">
            GitHub
        </a>
    </div>
    <p>&copy; 2024 BRANDON ISRAEL CHIROY TUY.</p>
</footer>