<!-- navbar.hbs -->
<nav>
    <ul>
        <li><a href="/">Sobre Mí</a></li>
        <li><a href="proyectos">Proyectos</a></li>
        <li><a href="experiencia">Experiencia</a></li>
        <li><a href="videos">Videos</a></li>
    </ul>
</nav>