<!-- Porta_Folio/views/experiencia.hbs -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Experiencia</title>
    <link rel="stylesheet" href="/assets/CSS/style.css">
    <link rel="stylesheet" href="/assets/CSS/normalize.css">
</head>
<body>
    {{> header}}

    <section id="experiencia">
        <h2>Experiencia</h2>
        <br>
        <br>
        <p> 
            Estudiante de ingenieria en sistema de informacion y Ciencias de la Computacion, en la Universidad Mariano Galvez de Guatemala
            se aprendio a trabajar en equipo y organizarce de manera eficiente, implemenrando la metodologia SCRUM.

        </p>
        <ul>
            <li><strong>Certificaci칩n:</strong> Certificacion de dise침o web con HTML, CSS de Google.</li>

            <li><strong>Educaci칩n:</strong> Graduado en Bachillerato en ciencias y letra y estudiante de Ingenieria en Sistemas de Informacion 
                y Ciencias de la Computacion.</li>
        </ul>
        <div class="imagenes-par">
            <img src="/assets/image/Cer 2.PNG" alt="Imagen 1">
            <img src="/assets/image/Cer 1.PNG" alt="Imagen 2">
        </div>

        <ul>
            <li><strong>JavaScript:</strong> he trabajo con javascript varios proyectos, tengo conocimientos en frameworks como React y Vue.js, manejor de las misma al 75%</li>
            <li><strong>SQL SERVER:</strong> Experimentado en SQL Server y desarollo de bases de datos al 50% </li>
            <li><strong>Ingles:</strong>Intermedio</li>
            <li><strong>Trabajo</strong>No tengo problemas con trabajar bajo presion</li>
            <li><strong>Redes</strong>Conocimientos en conexiones Vlan, VLAN de datos, nativa y predeterminado</li>
        </ul>
    </section>

    <br>
    <br>
    <br>
    <br>

    {{> footer}} <!-- Secci칩n de contacto -->
</body>
</html>