<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyectos</title>
    <link rel="stylesheet" href="/assets/CSS/style.css">
    <link rel="stylesheet" href="/assets/CSS/normalize.css">
</head>
<body>
    {{> header}}

    <section id="proyectos">
        <h2>Proyectos</h2>
        <div class="proyecto">
            <h3>Proyecto 1</h3>
            <p>
                Sistemas web para gestion de inventario y venta de productos para una ferreteria, agilizando procesos y 
                simplificando la gestión de productos, proveedores y clientes, realizando varios modulos, como la de admistracion de usuarios y accesos,
                modulo de inventario donde se gestionan los productos, las compras e ingreso tambien en ese modulo se gestionan los proveedores. 
                En el modulo de venta se gestionan los egresos de los productos y los clietes. 
            </p>
            <h3>Herramientas utilizadas</h3>
            <p>
            Las herramientas utilizadas para construir este proyecto fueron: Visual code, Visual Studio, HTML, CSS, JavaScript, ASP.net, SQL Server y 
            GitHub para el control de versiones, tambien se implementaron frameworks como Vue.js y reactivity.
            </p>
            
            <div class="proyecto-tabla">
                <table>
                    <tr>
                        <th>Login</th>
                        <th>Inicio</th>
                    </tr>
                    <tr>
                        <td>
                            <img src="/assets/image/Pro 1.PNG" alt="Login">
                        </td>
                        <td>
                            <img src="/assets/image/Por 2.PNG" alt="Inicio">
                        </td>
                    </tr>
                    
                </table>
            </div>
    
            <div class="proyecto-tabla">
                <table>
                    <tr>
                        <th>Ingreso de datos</th>
                        <th>Listado de datos</th>
                    </tr>
                    <tr>
                        <td>
                            <img src="/assets/image/Pro 3.PNG" alt="Ingreso de datos">
                        </td>
                        <td>
                            <img src="/assets/image/Pro 4.PNG" alt="Listado de datos">
                        </td>
                    </tr>
                </table>
                <br>
                <br>
                    <tr>
                        <th><a href="videos">Ver Video</a></th>
                    </tr>
            </div>
        </div>
    
        <div class="proyecto">
            <h3>Proyecto 2</h3>
            <p>
                Se realizo un diseño de base de datos, para registras a pacientes y recopilar la información de las mismas 
                para su posterior tratamiento.
                En este proyecto se busca registrar a los paciente desde el ingreso como su egresos y sus tratamiento

                
            </p>
            <h3>Herramientas utilizadas</h3>
            <p>
                Las herramientas utilizadas para construir este proyecto fueron: Diseño de diagramas en linea, datamodeler para realizar el 
                diagrama ER y se utilizo Oracale para la creacion de la base de datos.
            </p>
            
            <div class="proyecto-tabla">
                <table>
                    <tr>
                        <th>Diagrama de flujo</th>
                        <th>Diagrama ER</th>
                    </tr>
                    <tr>
                        <td>
                            <img src="/assets/image/P2 1.jpg" alt="">
                        </td>
                        <td>
                            <img src="/assets/image/P2 1.png" alt="">
                        </td>
                    </tr>
                </table>
                <br>
                <br>
                    <tr>
                        <th><a href="videos">Ver Video</a></th>
                    </tr>
            </div>
        </div>

        <div class="proyecto">
            <h3>Proyecto 3</h3>
            <p>
                El Proyecto se trato de contruir un agente medico automatizado que basandose en una serie de preguntas 
                puede realizar una hipotesis de que enfermedad padece el usuario y asi agilizar las consulatas.
            </p>
            <h3>Herramientas utilizadas</h3>
            <p>
                Las herramientas utilizadas para este proyecto son: Visual Studio y se trabjo con el lenguaje C++
            </p>
            
            <div class="proyecto-tabla">
                <table>
                    <tr>
                        <th>Listado de preguntas y respuestas</th>
                        <th>Consultas de sintomas</th>
                    </tr>
                    <tr>
                        <td>
                            <img src="/assets/image/P3 1.PNG" alt="">
                        </td>
                        <td>
                            <img src="/assets/image/P3 2.PNG" alt="">
                        </td>
                    </tr>
                    <tr>
                </table>
                <br>
                <br>
                    <tr>
                        <th><a href="videos">Ver Video</a></th>
                    </tr>
            </div>
        </div>

        <div class="proyecto">
            <h3>Proyecto 4</h3>
            <p>
                En el siguente proyecto se realizo una serie de pruebas de QA, especificamente para verificar la 
                compra de un automovil, en el test de prueba se verifico si el automovil vendido aplica descuento
                por el precio neto.
            </p>
            <h3>Herramientas utilizadas</h3>
            <p>
                Las herramientas utilizadas para este proyecto son: NetBeans y se trabajo con el lenguaje de programacion Java
            </p>
            
            <div class="proyecto-tabla">
                <table>
                    <tr>
                        <th>Resultados del test</th>
                        <th>Test aprobado</th>
                    </tr>
                    <tr>
                        <td>
                            <img src="/assets/image/P4 1.PNG" alt="">
                        </td>
                        <td>
                            <img src="/assets/image/P4 2.PNG" alt="">
                        </td>
                    </tr>
                    <tr>
                </table>
                <br>
                <br>
                    <tr>
                        <th><a href="videos">Ver Video</a></th>
                    </tr>
            </div>
        </div>

        <div class="proyecto">
            <h3>Proyecto 5</h3>
            <p>
                En este proyecto se realizo una red Vlan configurada para un coliegio, Se utilizo un rauter principal que 
                va conectado un switch y este va conectado con diferentes maquinas como laptop, pcs y servidores. 
                Además, se creó un total de 4 Vlan y se configuro la interfaz para cada uno de los vlans en este caso 
                se utilizo la dirección 192.169.0.0, 192.169.0.1, 192.169.0.2 y la 192.169.0.3
            </p>
            <h3>Herramientas utilizadas</h3>
            <p>
                Las herramientas utilizadas para este proyecto son: Cisco Packet Tracer para modelar la red
            </p>
            
            <div class="proyecto-tabla">
                <table>
                    <tr>
                        <th>Modelo de la red</th>
                        <th>Enviando paquetes de datos</th>
                    </tr>
                    <tr>
                        <td>
                            <img src="/assets/image/P5 3.PNG" alt="">
                        </td>
                        <td>
                            <img src="/assets/image/P5 2.PNG" alt="">
                        </td>
                    </tr>
                    <tr>
                </table>
                <br>
                <br>
                    <tr>
                        <th><a href="videos">Ver Video</a></th>
                    </tr>
            </div>
        </div>              
    </section>
    <br>
    <br>

    {{> footer}} <!-- Sección de contacto -->
</body>
</html>