<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre Mí</title>
    <link rel="stylesheet" href="/assets/CSS/style.css">
    <link rel="stylesheet" href="/assets/CSS/normalize.css">
</head>
<body>
    {{> header}}

    <section id="sobre-mi">
        <h2>Sobre Mí</h2>
        <div class="sobre-mi-contenedor">
            <img src="/assets/image/Brandon.jpg" alt="Foto de Brandon Israel Chiroy Tuy" class="foto-perfil">
            <div class="info-perfil">
                <p>
                    Hola, soy BRANDON ISRAEL CHIROY TUY, estudiante de Ingenieria en Sistemas de Informacion y Ciencias de la 
                    Computacion, en la Universidad Mariano Galvez de Guatemala, curos el ultimo semestre de la carrera en este 2024,
                    actualmente tengo 23 años de edad,                
                </p>
                <p>
                    Durante mi carrera, he trabajado en diversos proyectos que abarcan desde el desarrollo de plataformas webs hasta aplicaciones móviles 
                    para la gestión de finanzas personales como son los sistemas de gestión de inventario y venta para puntos de ventas. 
                    Tengo experiencia en el uso de javascript y ASP.net, además de experiencia en frameworks como React y Vue.js.
                </p>
                <p>
                    Estoy interesado en seguir explorando el desarrollo de soluciones innovadoras en el ámbito de la inteligencia artificial y la automatización de procesos.
                </p>
            </div>
        </div>
    </section>

    {{> footer}} <!-- Sección de contacto -->
</body>
</html>