<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mis Videos</title>
    <link rel="stylesheet" href="/assets/CSS/style.css">
    <link rel="stylesheet" href="/assets/CSS/normalize.css"> 
    <link rel="stylesheet" href="/assets/CSS/videos.css"> 
</head>
<body>
    {{> header}}

    <section id="videos">
        <h2>Mis Videos</h2>
        <div class="video-contenedor">
            <div class="video">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/j9Slswp86Cw?si=ugIc54XrQEuTaNiE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                <p>Sistema Web para gestion de Inventario</p>
            </div>
            <div class="video">
               <iframe width="560" height="315" src="https://www.youtube.com/embed/dopV7Urxu5g?si=1zCpuabQ_DuR7n6d" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
               <p>Base de datos</p>
            </div>
            <div class="video">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/YUTVpxHLXd8?si=JGpfB8owUFGiZXaJ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                <p>Abarroteria</p>
            </div>
            <div class="video">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/v385cc-zfck?si=3GNqGLmCXAAFOZOQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                <p>Pruebas de QA</p>
            </div>
            <div class="video">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/tdTWaXo4sUc?si=0hqJ4Iq2ufRdPmhc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                <p>MatLab</p>
            </div>
        </div>
    </section>

    {{> footer}}
</body>
</html>